a {
    text-decoration: none;
}
section img {
    width: 190px;
}
.succeed {
    align-items: center;
    background-image: url(../img/background.jpeg);
    background-repeat: no-repeat;
    background-size: 940px 460px;
    display: flex;
    justify-content: center;
    margin: 0 auto 60px auto;
    max-width: 940px;
    min-height: 460px;
}
.succeed ul {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.succeed > ul > li:nth-child(2) {
    margin-top: 30px;
}
.succeed > ul > li:last-child {
    margin-top: 50px;
}

.succeed > ul > li:last-child, .succeed > ul > li:last-child a,
.return, .return a {
    align-items: center;
    background-color: #FFE180;
    color: #3F5D45;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    height: 65px;
    justify-content: center;
    text-decoration: none;
    width: 300px;
}
.return {
    margin: auto;
    display: none;
}

/* ---  progress bar --- */
.succeed ol {
    color: #3F5D45;
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 190px;
}
.succeed ol::before {
    border-top: 1px solid #3F5D45;
    content: "";
    position: absolute;
    left: 27.5%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
}
.succeed ol::after {
    border-top: 1px solid #3F5D45;
    content: "";
    position: absolute;
    left: 72.5%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
}


/* ----- RWD for tabelet ----- */

@media (min-width: 700px) and (max-width: 1023px) {
    .succeed {
        margin: 0;
    }
}

/* ----- RWD for cell phones ----- */
@media (max-width: 699px) {
    .return, .return a {
        display: flex;
        width: 100%;
    }
    .succeed {
        background-position: 50% 50%;
        background-size: cover;
        margin: 0;
    }
    .succeed > ul > li:last-child {
        display: none;
    }
}