.cart_section hr {
    border: 1px solid #EAF0ED;
    margin: 20px 0;
}
.cart_section img {
    height: 110px;
    width: 110px;
    object-fit: cover;
}

/* ----- cart products ----- */
/* --- container --- */
.cart_item {
    color: #3F5D45;
    column-gap: 38px;
    display: flex;
    font-size: 20px;
    row-gap: 20px;
}
.cart_product {
    flex-basis: 65.95%;
    max-width: 620px;
}
.cart_section {
    column-gap: 20px;
    display: flex;
    margin: 0 auto 59px auto;
    max-width: 940px;
}
.pic_container {
    display: flex;
    column-gap: 39px;
}

/* --- items --- */
.cart_title {
    background-color: #EAF0ED;
    color: #3F5D45;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 16px 0;
    text-align: center;
}
.pic_container > ul > ol {
    line-height: 1.5;
}
.pic_container > ul {
    align-items: center;
    column-gap: 39px;
    display: flex;
}
.pic_container > ul > ol > li:nth-child(2)  {
    font-size: 16px;
}
.pic_container > ul > ul {
    display: flex;
}
.pic_container > ul > ul > li {
    align-items: center;
    border: 1px solid #EAF0ED;
    display: flex;
    justify-content: center;
    height: 48px;
    width: 48px;
}
.pic_container > ul > ul > li:hover {
    background-color: #EAF0ED;
    cursor: pointer;
}

.price_delete > ul {
    column-gap: 39px;
    align-items: center;
    display: flex;
    height: 100%;
}
.price_delete > ul > li:first-child {
    font-weight: bold;
}
.price_delete .material-symbols-outlined {
    color: #8da291;
    cursor: pointer;
}

/* ----- cart amounts ----- */
.cart_amount {
    flex-basis: 34.05%;
    max-width: 300px;
}
.cart_amount > ul {
    background-color: #3F5D45;
    color: #EAF0ED;
    padding: 16px 18px 16px 23px;
}
.cart_amount > ul > li:nth-child(1) {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.cart_amount > ul > ol {
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}
.cart_amount > ul > ol:last-child {
    font-size: 20px;
    font-weight: bold;
    padding-top: 8px;
}
.purchase {
    align-items: center;
    background-color: #FFE180;
    color: #3F5D45;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    height: 65px;
    justify-content: center;
    width: 100%;
}


/* ----- RWD for tabelet ----- */

@media (min-width: 700px) and (max-width: 1023px) {
    .cart_section {
        flex-direction: column;
    }
    .cart_amount {
        margin: 40px auto 0 auto;
        max-width: 620px;
        width: 100%;
    }
    .cart_amount ul > ol > li {
        padding: 0 75px;
    }
    .cart_product {
        margin: auto;
    }
}


/* ----- RWD for cell phones ----- */
@media (max-width: 699px) {
    .cart_section img {
        flex-basis: 60%;
        min-height: 106px;
        min-width: 157px;
    }
    .cart_section {
        flex-direction: column;
        margin: auto;
    }
    .cart_section hr {
        display: none;
    }

    /* --- cart products --- */
    .cart_container {
        display: flex;
        flex-direction: column;
        padding: 0 30px;
        row-gap: 30.5px;
    }
    .cart_item {
        flex-direction: column;
        row-gap: 8.5px;
    }
    .cart_product {
        margin: auto;
        width: 100%;
    }
    .pic_container {
        column-gap: 16px;
        justify-content: center;
    }
    .pic_container > ul {
        display: flex;
        flex-basis: 40%;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 8px;
    }
    .pic_container > ul > ol {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }
    .price_delete ul {
        border-bottom: 1px solid #EAF0ED;
        border-top: 1px solid #EAF0ED;
        justify-content: flex-end;
        padding: 8.5px 0;
    }
    .price_delete ul li:last-child {
        display: none;
    }

    /* --- cart amounts --- */
    .cart_amount {
        margin: auto;
        max-width: none;
        width: 100%;
    }
    .cart_amount > ul {
        background-color: #FFF;
        color: #3F5D45;
        padding: 31.5px 30px 16px 30px;
    }
    .cart_amount > ul > li:first-child {
        align-items: center;
        background-color: #EAF0ED;
        display: flex;
        height: 65px;
        justify-content: center;
        margin-bottom: 16px;
    }
}