/* --- container --- */
.login_container {
    display: flex;
    margin: 30px auto 60px auto;
    max-width: 780px;
}

/* --- login --- */
button {
    background-color: #FFE180;
    border: 1px solid #FFE180;
    color: #3F5D45;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    height: 65px;
    text-align: center;
    width: 100%;
}
input {
    background-color: #EAF0ED;
    border: none;
    color: #8DA291;
    font-size: 16px;
    letter-spacing: 1px;
}
input::placeholder {
    color: #8DA291;
    font-size: 16px;
}

#account, #password {
    background-color: #EAF0ED;
    margin-bottom: 16px;
    height: 56px;
    width: 274px;
}
#checkbox {
    margin-right: 8px;
}

.login {
    background-color: #3F5D45;
    color: #EAF0ED;
}
.login ul {
    padding: 40px 30px 25px 30px;
}

.login, .connect_sns {
    flex-basis: 50%;
}
.login li:nth-child(1) {
    color: #EAF0ED;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 40px;
    text-align: center;
}
.login li:nth-child(2), .login li:nth-child(3) {
    background: #EAF0ED;
    display: flex;
    height: 56px;
    margin-bottom: 16px;
}
.login .material-symbols-outlined {
    color: #3F5D45;
    background-color: #EAF0ED;
    font-size: 24px;
    padding: 16px 20px;
}
.login_title {
    display: none;
}

/* --- connect sns --- */
.connect_sns img {
    margin: auto;
    cursor: pointer;
    width: 108px;
}

.connect_sns {
    background-color: #EAF0ED;
    color: #8DA291;
    margin: 15px 0;
    padding: 40px 30px;
    width: 100%;
}
.connect_sns li:not(:nth-child(1)) {
    background-color: #FFFFFF;
    display: flex;
    height: 56px;
    margin-top: 16px;
}
.connect_sns li:nth-child(1) {
    font-family: "PingFang TC";
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}


/* ----- RWD for tablet & cell phones ----- */
@media (max-width: 830px) {
    .login_title {
        display: block;
        background-color: #3F5D45;
        color: #EAF0ED;
        font-size: 36px;
        font-weight: bold;
        padding: 30px 115px;
        text-align: center;
    }

    /* --- connect sns --- */
    .connect_sns {
        padding: 30px;
    }
    .connect_sns img {
        width: 83px;
    }
    .connect_sns > ul {
        display: flex;
        justify-content: space-between;
    }
    .connect_sns > ul > li:not(:nth-child(1)) {
        margin-top: 0;
        width: 100%;
    }

    /* --- login --- */
    #account, #password {
        max-width: 259px;
        min-width: 259px;
    }
    .connect_sns {
        margin: 0;
    }
    .connect_sns ul li:first-child, 
    .login_container ul li:first-child {
        display: none;
    }
    .login_container {
        flex-direction: column-reverse;
        margin: 0 auto;
        max-width: none;
    }
    .login ul {
        padding: 30px;
    }
}